@model ModuleViewModel

@{
    ViewBag.Title = "Module View";
}
@if (ViewBag.Error == "Error")
{
    <div class="text-center">
        <h1>Error connecting to server</h1>
        </div>
        }
        else
        {
        <div class="text-center">
            <h1>Module View</h1>
            <p>This is in Module View: @Model.Code --- @Model.Title</p>
        </div>


        }
