@model WebApplication4.Models.Group

@{
    ViewData["Title"] = "Create Group";
}

<h1>Create New Group</h1>

<h4>For Module @ViewBag.CurrentModule.Code</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input asp-for="ModuleId" type="hidden" value="@Model.ModuleId">

            <div class="form-group form-check private-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPrivate" onchange="toggle()" /> @Html.DisplayNameFor(model => model.IsPrivate)
                </label>
            </div>
            <div class="form-group private-uid-input" style="display: none">
                <label asp-for="Uid1" class="control-label"></label>
                <input asp-for="Uid1" class="form-control" />
                <span asp-validation-for="Uid1" class="text-danger"></span>
            </div>
            <div class="form-group private-uid-input" style="display: none">
                <label asp-for="Uid2" class="control-label"></label>
                <input asp-for="Uid2" class="form-control" />
                <span asp-validation-for="Uid2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Module" asp-action="ViewModule" asp-route-id="@ViewBag.CurrentModule.Id">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/TogglePrivateGroupUids.js"></script>
}

